@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #80461B;
    border-bottom: 0.08rem solid #04030f;
    font-family: 'Montserrat', sans-serif;
}

.logo a {
    text-decoration: none;
    color: #e7e393;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 1.05rem;
    font-weight: 700;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style: none;
}

.nav-links a {
    color: #e7e393;
    text-decoration: none;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.2s ease-in;
}

.nav-links a:hover {
    color: #04030f;
}

a.active {
    color: #04030f;
}

section.container {
    background: #80461B;
    min-height: 92vh;
    display: flex;
}

.form {
    margin: auto;
    max-width: 80%;
    text-align: center;
    background: #e7e393;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    box-shadow: 0 0 20px 0 rgba(4, 3, 15, 0.4),
        0 5px 5px 0 rgba(4, 3, 15, 0.44);
    font-family: 'Montserrat', sans-serif;
}

span.title {
    font-weight: 600;
    color: #04030f;
    letter-spacing: 0.08rem;
}

.creation-form {
    display: flex;
    flex-direction: column;
}

input[type = "text"],
input[type="date"] {
    margin-bottom: 0.8rem;
    padding: 0.4rem;
    border: 0.01rem solid #04030f;
    border-radius: 0.2rem;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    color: #04030f;
}

input[type="text"]:nth-child(1) {
    margin-top: 0.8rem;
}

span.label {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

input[type="button"] {
    padding: 0.4rem;
    background: #80461B;
    color: #e7e393;
    opacity: 0.7;
    border: none;
    border-radius: 0.2rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

input[type="button"]:hover {
    opacity: 1;
}

.products-list {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.coffee,
.tea,
.bread {
    display: flex;
    flex-direction: column;
    background: #e7e393;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(4, 3, 15, 0.4),
            0 5px 5px 0 rgba(4, 3, 15, 0.44);
}

.coffee,
.tea {
    margin-right: 4rem;
}

span.category,
span.name,
span.price {
    font-family: 'Montserrat', sans-serif;
}

.coffee span.name {
    color: #04030f;
}

.tea span.name {
    color: #dd7230;
}

.bread span.name {
    color: #f4c95d;
}

span.category {
    font-size: 0.8rem;
    font-weight: 400;
    opacity: 0.8;
}

span.name {
    font-size: 1.2rem;
    font-weight: 600;
}

span.price {
    font-size: 1rem;
    font-weight: 400;
}

.coffee a,
.tea a,
.bread a {
    text-decoration: none;
    text-align: center;
    color: #04030f;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background: #80461B;
    margin-top: 1rem;
    text-transform: uppercase;
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
    opacity: 0.9;
    transition: all 0.2s ease-in-out;
}

.coffee a:hover,
.tea a:hover,
.bread a:hover {
    opacity: 1;
}

.products-info {
    margin: auto;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    max-width: 90%;
}

.card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 8rem;
    height: 8rem;
    align-self: center;
    justify-self: center;
}

.card span {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}

.card p {
    font-weight: 400;
    font-size: 1rem;
    color: #04030f;
    margin-top: 1rem;
}

.card button {
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 2rem;
    border: none;
    text-transform: uppercase;
    transition: all 0.4s ease-in;
}

.card-coffee {
    border-radius: 1rem 0 0 1rem;
    background: #e7e393;
}

.card-bread {
    border-radius: 0 1rem 1rem 0;
    background: #dd7230;
}

.card-coffee button {
    background: #80461B;
    color: #04030f;
}

.card-coffee button:hover {
    background: #04030f;
    color: #80461B;
}

.card-tea button {
    background: #e7e393;
    color: #04030f;
}

.card-tea button:hover {
    background: #04030f;
    color: #e7e393;
}

.card-bread button {
    background: #04030f;
    color: #e7e393;
}

.card-bread button:hover {
    background: #e7e393;
    color: #04030f;
}

.intro {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro a {
    color: #e7e393;
    text-decoration: none;
    text-transform: uppercase;
}

.intro p {
    color: #04030f;
    font-weight: 500;
    font-size: 1.2rem;
}

.intro a.lg {
    background: #04030f;
    padding: 0.8rem;
    margin-top: 2rem;
    border: none;
    border-radius: 0.4rem;
    transition: all 0.5s ease-out;
    font-weight: 500;
}

.intro a.lg:hover {
    color: #04030f;
    background: #e7e393;
}