@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #80461B;
    border-bottom: 0.08rem solid #04030f;
}

.logo a {
    text-decoration: none;
    color: #e7e393;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 1.05rem;
    font-weight: 700;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style: none;
}

.nav-links a {
    color: #e7e393;
    text-decoration: none;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 0.9rem;
}

section.container {
    background: #80461B;
    min-height: 92vh;
    display: flex;
}

.form {
    margin: auto;
    max-width: 20%;
    text-align: center;
    background: #e7e393;
    padding: 2rem;
}

.creation-form {
    display: flex;
    flex-direction: column;
}